group06w_NodeRed.json
[
    {
        "id": "dccda2918fa3e533",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec2feec1b48f2b88",
        "type": "group",
        "z": "dccda2918fa3e533",
        "name": "Environment",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#c8e7a7",
            "label-position": "ne"
        },
        "nodes": [
            "f7529c7c8fa97465",
            "a742fc78c7619641",
            "1d6cc9bfaf78fc79",
            "cade6d55c9ceed86",
            "0428a540c0b18e33",
            "1641591ab2c23a68",
            "c143fecee74ee241",
            "fdd166a98e0dbda1",
            "4dcf83641ec21933",
            "2665dc9218549f5d",
            "01afd20d504a8364",
            "93b7cd7d630bb344",
            "59a0af861bfad1b5",
            "642fee18620c263e",
            "938676ba6ffbbad4",
            "1b82c15b181c850e",
            "581f3fda881bfc88",
            "ff3da71bcf3a35ab",
            "409be015b6203a62",
            "2c533cd2dba7fb8a",
            "321e9834f8df3cc8",
            "48c88062c5556107"
        ],
        "x": 54,
        "y": 79,
        "w": 732,
        "h": 562
    },
    {
        "id": "444808bf702982b6",
        "type": "group",
        "z": "dccda2918fa3e533",
        "name": "Production",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "label-position": "ne",
            "fill": "#ffdf7f",
            "color": "#000000"
        },
        "nodes": [
            "6401cf74bc84cb8c",
            "91b2e1fd0bec069d",
            "0163eb450a75a2fe",
            "1fbbde7d22eb23e1",
            "57735c81ed2c79d9",
            "4c4eeb90dcef7e7c",
            "e7978b3fa4cae743",
            "3caaeb7c11325f96",
            "63a51ac5ec6a2474",
            "d8060a8f5d83a760",
            "0d6b97f2056bdebe",
            "8f44263da4665b48",
            "1f7b38917371bab1",
            "bbf471c2e1eaaa94",
            "c8f3094047bbd963",
            "8402d7bd3aa9106b",
            "d10cff74db54670e",
            "c8c9e74c16726cbe",
            "6de36443efaff532"
        ],
        "x": 54,
        "y": 659,
        "w": 1152,
        "h": 342
    },
    {
        "id": "f7529c7c8fa97465",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "topic": "/task_02l/co201",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "409be015b6203a62"
            ]
        ]
    },
    {
        "id": "a742fc78c7619641",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "topic": "/task_02l/smo01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "01afd20d504a8364",
                "1b82c15b181c850e"
            ]
        ]
    },
    {
        "id": "1d6cc9bfaf78fc79",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "topic": "/task_02l/pres01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "321e9834f8df3cc8"
            ]
        ]
    },
    {
        "id": "cade6d55c9ceed86",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "topic": "/task_02l/occ01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "93b7cd7d630bb344",
                "642fee18620c263e"
            ]
        ]
    },
    {
        "id": "6401cf74bc84cb8c",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "topic": "/task_02l/cou01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 960,
        "wires": [
            [
                "6de36443efaff532"
            ]
        ]
    },
    {
        "id": "91b2e1fd0bec069d",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "topic": "/task_02l/lev01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 840,
        "wires": [
            [
                "d10cff74db54670e"
            ]
        ]
    },
    {
        "id": "0163eb450a75a2fe",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "topic": "/task_02l/cap01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 720,
        "wires": [
            [
                "8402d7bd3aa9106b"
            ]
        ]
    },
    {
        "id": "0428a540c0b18e33",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "topic": "/task_02l/co202",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "2c533cd2dba7fb8a"
            ]
        ]
    },
    {
        "id": "1641591ab2c23a68",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "topic": "/task_02l/pres02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "48c88062c5556107"
            ]
        ]
    },
    {
        "id": "1fbbde7d22eb23e1",
        "type": "mqtt in",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "topic": "/task_02l/lev02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e839cdc95237a4b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "c8c9e74c16726cbe"
            ]
        ]
    },
    {
        "id": "c143fecee74ee241",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "Co2 sensor 1",
        "group": "4e8fd5eaba134b76",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "ppm",
        "format": "{{value}}",
        "min": "400",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e66700",
            "#ca3838"
        ],
        "seg1": "600",
        "seg2": "800",
        "className": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "fdd166a98e0dbda1",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "Co2 sensor 2",
        "group": "76ed5e1376b21e7b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "ppm",
        "format": "{{value}}",
        "min": "700",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e66700",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "className": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dcf83641ec21933",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "Pressure sensor 1",
        "group": "799500c8558275f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "kPa",
        "format": "{{value}}",
        "min": "90",
        "max": "120",
        "colors": [
            "#00b500",
            "#e66700",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "110",
        "className": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "2665dc9218549f5d",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "Pressure sensor 2",
        "group": "36485076cdaf9f8f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "kPa",
        "format": "{{value}}",
        "min": "90",
        "max": "120",
        "colors": [
            "#00b500",
            "#e66700",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "110",
        "className": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "01afd20d504a8364",
        "type": "ui_led",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "order": 0,
        "group": "9ab02ce2cc47a884",
        "width": 0,
        "height": 0,
        "label": "Fire Warning",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#919191",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "93b7cd7d630bb344",
        "type": "ui_led",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "order": 0,
        "group": "61264dca0fef4cbe",
        "width": 0,
        "height": 0,
        "label": "Human Detected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#919191",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "59a0af861bfad1b5",
        "type": "inject",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "93b7cd7d630bb344",
                "642fee18620c263e"
            ]
        ]
    },
    {
        "id": "642fee18620c263e",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "938676ba6ffbbad4"
            ]
        ]
    },
    {
        "id": "938676ba6ffbbad4",
        "type": "change",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "93b7cd7d630bb344"
            ]
        ]
    },
    {
        "id": "1b82c15b181c850e",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "581f3fda881bfc88"
            ]
        ]
    },
    {
        "id": "581f3fda881bfc88",
        "type": "change",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "01afd20d504a8364"
            ]
        ]
    },
    {
        "id": "ff3da71bcf3a35ab",
        "type": "inject",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "1b82c15b181c850e",
                "01afd20d504a8364"
            ]
        ]
    },
    {
        "id": "57735c81ed2c79d9",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "Fuel capacity",
        "group": "c7e33450db5c9019",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1110,
        "y": 720,
        "wires": []
    },
    {
        "id": "4c4eeb90dcef7e7c",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "Level sensor 2",
        "group": "246efeee9c156d95",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ed1e07",
            "#059907",
            "#4341b4"
        ],
        "seg1": "4",
        "seg2": "7",
        "className": "",
        "x": 740,
        "y": 900,
        "wires": []
    },
    {
        "id": "e7978b3fa4cae743",
        "type": "ui_chart",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "Production counting data",
        "group": "1e45e0a9441b8690",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "3caaeb7c11325f96",
        "type": "rbe",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "c8f3094047bbd963"
            ]
        ]
    },
    {
        "id": "63a51ac5ec6a2474",
        "type": "rbe",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "4c4eeb90dcef7e7c"
            ]
        ]
    },
    {
        "id": "8f44263da4665b48",
        "type": "rbe",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 720,
        "wires": [
            [
                "d8060a8f5d83a760"
            ]
        ]
    },
    {
        "id": "0d6b97f2056bdebe",
        "type": "template",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"options\":{\"waveColor\":\"#a30000\"}}",
        "output": "json",
        "x": 820,
        "y": 700,
        "wires": [
            [
                "57735c81ed2c79d9"
            ]
        ]
    },
    {
        "id": "d8060a8f5d83a760",
        "type": "switch",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "2000",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 650,
        "y": 720,
        "wires": [
            [
                "0d6b97f2056bdebe"
            ],
            [
                "1f7b38917371bab1"
            ],
            [
                "bbf471c2e1eaaa94"
            ]
        ]
    },
    {
        "id": "1f7b38917371bab1",
        "type": "template",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"options\":{\"waveColor\":\"#0e7505\"}}",
        "output": "json",
        "x": 820,
        "y": 740,
        "wires": [
            [
                "57735c81ed2c79d9"
            ]
        ]
    },
    {
        "id": "bbf471c2e1eaaa94",
        "type": "template",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"options\":{\"waveColor\":\"#061496\"}}",
        "output": "json",
        "x": 820,
        "y": 780,
        "wires": [
            [
                "57735c81ed2c79d9"
            ]
        ]
    },
    {
        "id": "c8f3094047bbd963",
        "type": "ui_gauge",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "Level sensor 1",
        "group": "6f804e2a31455033",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#ed1e07",
            "#059907",
            "#4341b4"
        ],
        "seg1": "7",
        "seg2": "15",
        "className": "",
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "409be015b6203a62",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "c143fecee74ee241"
            ]
        ]
    },
    {
        "id": "2c533cd2dba7fb8a",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "fdd166a98e0dbda1"
            ]
        ]
    },
    {
        "id": "321e9834f8df3cc8",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "4dcf83641ec21933"
            ]
        ]
    },
    {
        "id": "48c88062c5556107",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "ec2feec1b48f2b88",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "2665dc9218549f5d"
            ]
        ]
    },
    {
        "id": "8402d7bd3aa9106b",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "8f44263da4665b48"
            ]
        ]
    },
    {
        "id": "d10cff74db54670e",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "60",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 840,
        "wires": [
            [
                "3caaeb7c11325f96"
            ]
        ]
    },
    {
        "id": "c8c9e74c16726cbe",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "60",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 900,
        "wires": [
            [
                "63a51ac5ec6a2474"
            ]
        ]
    },
    {
        "id": "6de36443efaff532",
        "type": "delay",
        "z": "dccda2918fa3e533",
        "g": "444808bf702982b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 960,
        "wires": [
            [
                "e7978b3fa4cae743"
            ]
        ]
    },
    {
        "id": "e839cdc95237a4b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pldindustries.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e8fd5eaba134b76",
        "type": "ui_group",
        "name": "Co2 Sensor 1",
        "tab": "106e535b3f655bf7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76ed5e1376b21e7b",
        "type": "ui_group",
        "name": "Co2 Sensor 2",
        "tab": "106e535b3f655bf7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "799500c8558275f0",
        "type": "ui_group",
        "name": "Pressure Sensor 1",
        "tab": "106e535b3f655bf7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "36485076cdaf9f8f",
        "type": "ui_group",
        "name": "Pressure Sensor 2",
        "tab": "106e535b3f655bf7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ab02ce2cc47a884",
        "type": "ui_group",
        "name": "Smoke sensor",
        "tab": "106e535b3f655bf7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61264dca0fef4cbe",
        "type": "ui_group",
        "name": "Occupancy Detector",
        "tab": "106e535b3f655bf7",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7e33450db5c9019",
        "type": "ui_group",
        "name": "Fuel Capacity",
        "tab": "cecad2cabd98d027",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "246efeee9c156d95",
        "type": "ui_group",
        "name": "Level Sensor 2",
        "tab": "cecad2cabd98d027",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e45e0a9441b8690",
        "type": "ui_group",
        "name": "Production Counting Data",
        "tab": "cecad2cabd98d027",
        "order": 4,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f804e2a31455033",
        "type": "ui_group",
        "name": "Level Sensor 1",
        "tab": "cecad2cabd98d027",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "106e535b3f655bf7",
        "type": "ui_tab",
        "name": "Environment",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cecad2cabd98d027",
        "type": "ui_tab",
        "name": "Production",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]